<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="IP" value="192.168.10.30"></add>
    <add key="Port" value="9"></add>
    <add key="remote_IP" value="192.168.10.35"></add>
    <add key="remote_Port" value="10"></add>
  </appSettings>
</configuration>
